.dash {
  min-height: 100vh;
  background: var(--clr-primary-5);
}
.dash-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.dash-banner h1 {
  text-transform: uppercase;
}
.dash-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}
.dash-btn {
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  color: var(--clr-primary-8);
  background: var(--clr-black);
  border-color: transparent;
  cursor: pointer;
}
.dash-btn:hover {
  background: var(--clr-primary-8);
  color: var(--clr-white);
    transition: var(--transition);
}
  .dash {
    background: linear-gradient(rgba(253, 94, 94, 0.7), rgba(0, 0, 0, 0.7)),
      url('./images/stockholm-stadshuset.jpg') center/cover no-repeat;
  }