.textField {
  margin-bottom: 16px;
}

.textField .MuiInputBase-input {
  color: black;
}

.textField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.textField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: darkred;
}

.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: darkred;
}

.textField .MuiInputLabel-root {
  color: black;
}

.textField .MuiInputLabel-root.Mui-focused {
  color: darkred;
}

.textField .MuiInputLabel-root:hover {
  color: darkred;
}

.spantag {
  color: white
}

strong {
  color: black
}

.modal-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 24;
}

/* Client page */

.client-profile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.113);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.profile-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile-item {
  flex: 1 1 45%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .profile-card {
    width: 95%;
    padding: 10px;
  }

  .profile-item {
    flex: 1 1 100%;
    margin-bottom: 5px;
  }

  .client-profile {
    padding-top: 0.5rem;
  }
}

